# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\programming\git learning toplearn\calculator_python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
